<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.sensor.hinge_angle"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:label="PixelDualFold"
        android:icon="@android:drawable/sym_def_app_icon"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.PixelDualFold">

        <meta-data
            android:name="android.max_aspect"
            android:value="2.8" />
        <meta-data
            android:name="android.min_aspect"
            android:value="1.0" />
        <meta-data
            android:name="android.notch_support"
            android:value="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:resizeableActivity="true"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboardHidden|uiMode|density"
            android:turnScreenOn="true"
            android:showWhenLocked="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
